<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <button type="button" onclick="sendCommand('w')">Move Forward</button>
        <button type="button" onclick="sendCommand('a')">Move Left</button>
        <button type="button" onclick="sendCommand('s')">Move Backward</button>
        <button type="button" onclick="sendCommand('d')">Move Right</button>
      </form>
      
      <script>
        function sendCommand(command) {
          fetch('http://localhost:5000/teleop', {
            method: 'POST',
            body: JSON.stringify({command: command}),
            headers: { 'Content-Type': 'application/json' }
          })
          .then(res => res.text())
          .then(console.log)
        }
      </script>
</body>
</html>